@{
    ViewData["Title"] = "Session Test";
}

<h2>Session ID Demo</h2>
<p><b>Session ID:</b> @ViewBag.SessionId</p>
<p><b>Time:</b> @ViewBag.Time</p>

<a class="btn btn-primary" href="/Home/ShowSession">Refresh</a>
