@* Custom Route *@


@page "/info"
@model RoutingDemo.Pages.CustomModel
@{
    ViewData["Title"] = "Custom Route Page";
}

<h1>Custom Route Example</h1>
<p>This page is served at <code>/info</code>, not <code>/Custom</code></p>
