@page
@model DataBindingDemo.Pages.QueryDemoModel
@{
    ViewData["Title"] = "QueryDemo";
}

<h1>Query Parameters</h1>

<p>Name: <strong>@Model.Name</strong></p>
<p>Age: <strong>@Model.Age</strong></p>

<p>Try URL Like: <code>QueryDemo?name=Viru&age=12</code></p>