@page
@model ValidationDemo.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<h2>Registration Succefull</h2>
<p>Welcome, <strong>@Model.Name</strong>! Your detail were saved succefully.</p>