@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4">Oops! Something went wrong</h1>
    <p class="lead">@ViewData["Message"]</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
</div>